  <%= form_with url: purposes_path do |f| %>
  <div class="form-group">
      <%= f.label :"目標" %><br>
      <%= f.number_field :purpose_score %>

    <div class="form-group">
      <%= f.label :"現在のスコア" %><br>
      <%= f.number_field :current_score %>
    </div>
    <%= f.submit "送信" %>
<% end %>
