  <div class="container"style="padding: 20px;">
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col-5">
           <%= form_for(@user) do |f| %>
           <table  border="1" bordercolor="#4682B4" cellpadding="15" style="width:100%; border-collapse:separate;margin-top: 50px;">
            <tr><td colspan="2"><h2>ユーザー編集</h2></td></tr>
              <tr>
                <th style = "width:30%"><%= f.label :"名前" %></th>
                <td style = "width:70%"><%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %></td>
              </tr>

              <tr>
                <th><%= f.label :"画像" %></th>
                <td> <%= f.attachment_field :profile_image %></td>
              </tr>

            <tr>
              <td colspan="2"><%= f.submit "変更", class: "btn btn-primary btn-block" %></td>
            </tr>
        </table>
      <% end %>
      </div>
    </div>
  </div>

