  <div class="container"style="padding: 20px;">
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
                <%= form_for(@study) do |f| %>
               <table  border="1" bordercolor="#4682B4" cellpadding="15" style="width:100%; border-collapse:separate;margin-top: 50px;">
              <tr><td colspan="2"><h2>編集</h2></td></tr>
              <tr>
                  <th style = "width:40%"><%= f.label :"画像" %></th>
                  <td style = "width:60%"><%= f.attachment_field :image %></td>
              </tr>

              <tr>
                  <th><%= f.label :"タイトル" %></th>
                  <td><%= f.text_field :study_title, class: "form-control" %></td>
              </tr>

                <tr>
                  <th><%= f.label :"媒体" %></th>
                   <td><%=  f.collection_select :medium_id, Medium.all, :id, :medium_name, :prompt => "媒体(本やアプリなど)を選択してください", class: "select" %></td>
               </tr>

               <tr>
                  <th><%= f.label :"ジャンル" %></th>
                 <td><%=  f.collection_select :genre_id, Genre.all, :id, :genre_name, :prompt => "ジャンルを選択してください", class: "select" %></td>
               </tr>

              <tr>
                  <th><%= f.label :"本文" %></th>
                 <td><%= f.text_area :review, class: "form-control"%></td>
               </tr>

            <tr>
              <td colspan="2"><%= f.submit "編集", class: "btn btn-primary btn-block" %></td>
            </tr>
        </table>
      <% end %>
      </div>
      </div>
  </div>
