<div class="studydetail">
<div class="container">
      <div class="row">
        <div class="col-4">
<%= attachment_image_tag @study, :image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg" %>
        </div>
         <div class="col-4">

<h4>タイトル</h4>
<h5><%= @study.study_title %></h5>
<h4>媒体</h4>
<h5><%= @study.medium.medium_name %></h5>
<h4>ジャンル</h4>
<h5><%= @study.genre.genre_name %></h5>

<h4>本文</h4>
<h5><%= @study.review %></h5>
<h4>いいね件数: <%= @study.likes.count %></h4>
<% if current_user.already_liked?(@study) %>
  <%= button_to 'いいねを取り消す', study_like_path(@study), method: :delete %>
<% else %>
  <%= link_to study_likes_path(@study), method: :post do %>
  <i class="fas fa-thumbs-up" style="font-size: 20px;"> いいね！</i>
  <% end %>
<% end %>
<h4>いいねしたユーザー</h4>
<% @study.liked_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>
<%= link_to "編集", edit_study_path(@study.id) %>
<%= link_to "削除", study_path(@study), method: :delete, "data-confirm" => "本当に消しますか？" %>
		</div>
	</div>
</div>
</div>