<h1>投稿一覧</h1>
<div>
 <%= link_to "ジャンルを追加", new_admin_genre_path, class: "btn w-100 btn-add" %>
      </div>
 <%= link_to "媒体を追加", new_admin_medium_path, class: "btn w-100 btn-add" %>

 <%= link_to "ユーザーズ", new_admin_users_path, class: "btn w-100 btn-add" %>
      </div>
 <% @studies.each do |s| %>
    <p>タイトル</p>
    <span><%= link_to s.study_title, admin_study_path(s.id) %></span>
    <span><%= s.review %></span>
    <p>画像</p>
    <%= attachment_image_tag s, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %>

 <% end %>