<div class="studydetail">
  <div class="container">
      <div class="row">
        <div class="col-4">
          <%= attachment_image_tag @study, :image, :fill, 300, 300, format: 'jpeg', fallback: "/images/no_image.jpg" %>
        </div>
        <div class="col-4">
              <h4 class="detailtitle">タイトル</h4>
                  <h5 class="detailbody"><%= @study.study_title %></h5>
              <h4 class="detailtitle">媒体</h4>
                  <h5 class="detailbody"><%= @study.medium.medium_name %></h5>
              <h4 class="detailtitle">ジャンル</h4>
                  <h5 class="detailbody"><%= @study.genre.genre_name %></h5>
              <h4 class="detailtitle">本文</h4>
                  <h5 class="detailbody"><%= @study.review %></h5>
              <h4 class="detailtitle">いいね件数: <%= @study.likes.count %></h4>
                  
            <h4>いいねしたユーザー</h4>
                <% @study.liked_users.each do |user| %>
                  <li><%= user.name %></li>
                <% end %>
                <%= link_to "削除", admin_study_path(@study), method: :delete, "data-confirm" => "本当に消しますか？" %>
		    </div>
	   </div>
  </div>
</div>