<div class="studydetail">
<div class="container">
      <div class="row">
        <div class="col-4">
<%= attachment_image_tag @study, :image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg" %>
        </div>
         <div class="col-8">

<h4>タイトル</h4>
<p><%= @study.study_title %></p>
<h4>媒体</h4>
<p><%= @study.medium.medium_name %></p>
<h4>ジャンル</h4>
<p><%= @study.genre.genre_name %></p>

<h4>本文</h4>
<p><%= @study.review %></p>
<h4>いいね件数: <%= @study.likes.count %></h4>
<h4>いいねしたユーザー</h4>
<% @study.liked_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>
<%= link_to "編集", edit_admin_user_study_path(@study.id) %>
<%= link_to "削除", admin_study_path(@study), method: :delete, "data-confirm" => "本当に消しますか？" %>
		</div>
	</div>
</div>
</div>