<div class="mypage">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, format: 'jpeg',fallback: "no_image2.jpg", size: '235x235'%>
          <%= @user.name %>
            <div class="card-body">
              <div>目標スコア: <%= @user.purposes.last.purpose_score %>点</div>
              <div>現在スコア: <%= @user.scores.last.current_score %>点</div>
               <div>目標時間: <%= @purposetime -  @usertime %>時間</div>
              <canvas id="myChart" width="400" height="400"></canvas>
              <script>
                var totalstudytime = <%= @totalstudytime %>, usertime = <%= @usertime %>,purposetime = <%= @purposetime %>
                draw_graph();
              </script>
                <div> <%= link_to "スコアの変更", new_purpose_path %>
                      <%= link_to "編集", edit_admin_user_path(@user.id) %>
                      <%= link_to "退会", admin_user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？" %>
                </div>
            </div>
        </div>
      </div>
      <div class="col-9">
          <h2 class="heading">学習状況</h2>
          <%= form_for(@post_time) do |f| %>
             <label class="control-label" for="">勉強日</label>
             <%= f.date_select(:study_day,use_month_numbers: true,default: Date.today) %>
              <div class="form-group">
              <%= f.label :"時間を追加" %>
              <%= f.select(:study_time,  [-5,-4.5,-4,-3.5,-3,-2.5,-2,-1.5,-1,-0.5,0.5,1,1.5,2,2.5,3,3.5,4,4.5,5.5,6,6.5,7,7.5,8,8.5,9,9.5,10],:selected=>1 )%>
          <%= f.submit '追加する' %>
              </div>
          <% end %>
          <div id="user_lists"><%= render 'user_list' %></div>
          <div class="more"><%= link_to_next_page @post_times, 'もっと見る', remote: true, id: 'view_more' %></div>

          <h3>投稿内容</h3>
            <div class= "row" >
              <% @user.studies.each do |study| %>
              <div class= "col-2" >
                <div class = "card"style="width: 100px;">
                <%= attachment_image_tag study, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"%>
                <%= link_to study.study_title, study_path(study.id) %>
            </div>
          </div>
              <% end %>
          </div>

          <h3>いいねしている投稿</h3>
            <div class= "row" >
              <% @user.liked_studies.each do |study| %>
              <div class= "col-2" >
                <div class = "card"style="width: 100px;">
                <%= attachment_image_tag study, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"%>
                <%= link_to study.study_title, study_path(study.id) %>
            </div>
          </div>
              <% end %>
              </div>

      </div>
    </div>
  </div>
</div>