<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media:'all'%>
    <%= javascript_include_tag 'application','data-turbolinks-track':'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AST</title>
  </head>

  <body>

   <header class="sticky-top">
      <nav class="navbar">
        <div class="nav-content">
          <ul class="list-group list-group-horizontal nav-list">
           <% if user_signed_in? %>


    <li class=""style="color:white; padding-left: 5px;">
        <%= link_to user_path(current_user.id)  do%>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
        <%end%>
     </li>

     <li class=""style="color:white; padding-left: 5px;">
        <%= link_to new_contact_path  do%>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Contact
        <%end%>
     </li>


     <li class=""style="color:white; padding-left: 5px;">
        <%= link_to users_path  do%>
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Ranking
        <%end%>
      </li>


      <li class=""style="color:white; padding-left: 5px;">
        <%= link_to studies_path  do%>
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Studies
        <%end%>
      </li>

      <li class=""style="color:white; padding-left: 5px;">
        <%= link_to destroy_user_session_path, method: :delete do%>
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
        <%end%>
      </li>

    <% else %>

      <li class=""style="color:white; padding-left: 5px ;">
        <%= link_to root_path  do%>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
        <%end%>
      </li>


      <li class=""style="color:white; padding-left: 5px;">
        <%= link_to new_user_registration_path  do%>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Sign up
        <%end%>
      </li>

      <li class=""style="color:white; padding-left: 5px;">
        <%= link_to new_user_session_path  do%>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Log in
        <%end%>
      </li>

   <% end %>
          </ul>

        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>

<footer>
    </footer>

